body {
  font-family: 'Sanchez', serif;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-top: 4rem;
}

header {
  padding: 0.8rem;

  h1 {
    margin-bottom: 0;
  }

  h5 {
    color: #666;
  }
}

footer.row {
  max-width: 100%;
}

.footer {
  margin-bottom: 0;
  border-width: 3px 0 0 0;
  border-color: #aaa;
  background-color: #333;

  h5, p {
    color: #aaa;
  }
}

.skills {
  .progress {
    margin-bottom: 0;
  }
}

.lead {
  padding: 1rem 1rem 2.8rem;
}

[data-magellan-expedition] {
  background-color: #f2f2f2;
}

textarea {
  height: 100px;
}

.panel.hire {
  margin: 2.5rem 0;
}
