---
title: Portfolio by
skills:
  -
    name: Languages
    list:
      -
        name: Ruby
        level: 100
        active: true
        tip: Used on almost every occasion.<br>I fell in love in the year 2008 and started to use it professionally in 2009.
      -
        name: JavaScript
        level: 90
        active: true
        tip: Used heavily.<br/>Plain, jQuery, MVCs, node.js. etc
      -
        name: HTML/CSS
        level: 90
        active: true
        tip: Used heavily.<br/>Praise Tim Berners-Lee, science and CERN
      -
        name: Shell
        level: 30
        active: true
        tip: Used for some scripts on local machine and servers.<br/>Not too deep in the rabbit hole.
      -
        name: Elixir
        level: 20
        active: true
        tip: I feel like learning to program all over again...<br/>Still to learn a lot.
      -
        name: Java
        level: 50
        active: false
        tip: Used heavily during my studies.<br/>Before falling in love with Ruby.
      -
        name: QBasic
        level: 30
        active: false
        tip: Used in older days.<br/>A good piece of history.
      -
        name: ABAP
        level: 20
        active: false
        tip: Used professionally.<br/>Might be able to read some legacy code.
      -
        name: Actionscript
        level: 20
        active: false
        tip: Used for writing small Flash games.<br/>That was fun...
      -
        name: C#
        level: 10
        active: false
        tip: Used for an OpenSource project Add-on.<br/>Might be able to read some code.
      -
        name: VisualBasic
        level: 10
        active: false
        tip: Used in older days.<br/>Might still be able to get the gist.

  -
    name: Libraries / Tools
    list:
      -
        name: Ruby on Rails
        level: 100
        active: true
        tip: I fell in love with Ruby on Rails in 2008 while working on a project with Java and Struts. I then tried to implement some concepts into a custumized Struts, failed because of language limitations. After that I quit my job and started to work full-time with Ruby on Rails.
      -
        name: SCSS/HAML
        level: 100
        active: true
        tip: It makes it just so much easier to read and write. But be aware of the dangers of divitis.
      -
        name: CoffeeScript
        level: 80
        active: true
        tip: Sometimes it feels like heaven and sometimes like hell. But after a while I got the hang of it and feel more productive using CoffeeScript.
      -
        name: RSpec
        level: 80
        active: true
        tip: TDD and BDD made easy thanks to RSpec and Capybara.
      -
        name: jQuery
        level: 60
        active: true
        tip: Used it a lot for front-end work. Created namespaced plugins, awesome animations, and verified UX through human test.
      -
        name: Bootstrap
        level: 60
        active: true
        tip: Responsive web design can get quite tricky and messy. With bootstrap and foundation I had good experiences thanks to OOCSS and a logical grid system.
      -
        name: Foundation
        level: 60
        active: true
        tip: Like with Bootstrap I used Foundation for some projects and had a good experiance with it.
      -
        name: Git
        level: 60
        active: true
        tip: Fork, branch, commit, merge, rebase, push... Use it daily but think I still only use 60% of git's most awesome features.
      -
        name: RubyMotion
        level: 60
        active: true
        tip: I started RubyMotion from the first release day on and really like it a lot. I never really got the hang of ObjectiveC. I also worked on a professional iOS App and on open source projects
      -
        name: SVN
        level: 40
        tip: Used it a lot before Github and the <i>git revolution</i>™. Now switched to git and enjoy the benefits.
      -
        name: Ember.js
        level: 30
        tip: I played around with several front-end frameworks (Ember, Backbone, Angular) but never really got to the point of using it in a real project. Hopefully in the future...
  -
    name: Server Management
    list:
      -
        name: Unix
        level: 60
        active: true
        tip: I work with *nix systems on work machines and servers. Still a lot more to know out there but absolutely enough for programmer tasks and running a simple server setup.
      -
        name: Nginx
        level: 60
        active: true
        tip: I use Nginx with Passenger or Unicorn. Can set it up but would not consider myself as an expert tough.
      -
        name: Puppet
        level: 50
        active: true
        tip: Puppet makes server management so much easier and helps having a clean and stable system.
      -
        name: Shell scripting
        level: 40
        active: true
        tip: Used for some scripts on local machine and servers.<br/>But only simple stuff...
      -
        name: Virtualization
        level: 40
        active: true
        tip: I did setup a virtualization system for myself but now use DigitalOcean Droplets. Hope to be able to use Docker soon.
      -
        name: Chef
        level: 30
        tip: I did evaluate Chef but for political reasons chose Puppet.

  -
    name: Process
    list:
      -
        name: TDD/BDD
        level: 100
        active: true
        tip: Is it dead yet?
      -
        name: Kanban
        level: 80
        active: true
        tip: かんばん(看板 with Trello
      -
        name: SCRUM
        level: 70
        active: true
        tip: Used SCRUM and SCRUM concepts for several projects. But you could go to the extreme...
      -
        name: Pomodoro
        level: 70
        tip: Focus, work and Rrrring... and another Pomodoro over.
  -
    name: Data
    list:
      -
        name: MySQL
        level: 80
        active: true
        tip: Select name, level, active_state from skills where name = 'Fabio'
      -
        name: Postgres
        level: 80
        active: true
        tip: Does it count as a relational database or NoSQL database, or even a hybrid?
      -
        name: MongoDB
        level: 30
  -
    name: Human languages
    list:
      -
        name: English
        level: 100
        active: true
        tip: Thanks to an early exposure to English and strong focus in education I use it now daily in written and spoken form.
      -
        name: German
        level: 100
        active: true
        tip: Written or spoken. I could get mistaken for a German.
      -
        name: Swiss-German
        level: 100
        active: true
        tip: My mother tongue. Dialect mix from Baseldytsch and Oberbaselbieterisch.
      -
        name: Spanish
        level: 50
        active: true
        tip: Currently traveling through South America. Learn, use and practice my Spanish daily at the moment.
      -
        name: French
        level: 30
        tip: Learned it theoretically in school, but never got to use it tough.
  -
    name: Other education
    list:
      -
        name: Snowboarding
        level: 100
        active: true
        tip: I'm a J+S certified snowboard guide for kids (age 14 to 21) and love to shred the powder
      -
        name: Sport Climbing
        level: 100
        active: true
        tip: I'm also a J+S certified Sport Climbing guide for kids (age 14 to 21)
      -
        name: Skiing
        level: 80
        active: true
        tip: I'm also a J+S certified back country skiing guide
      -
        name: Permaculture
        level: 60
        active: true
        tip: Certified permaculture designer. A tool to life the alternative...
      -
        name: Mediation
        level: 60
        active: true
        tip: 5 day course in non-violent communication and mediation.
      -
        name: First-aid
        level: 60
        active: true
        tip: 2 day first aid course, 5 day nursing course and 6 months nursing in a hospital for my civil duty
      -
        name: Meditation
        level: 40
        active: true
        tip: 10 days course in Vipasana meditation and other smaller courses in different meditation styles. Still a novice.
---
<div class="row">
  <div class="large-12 columns text-center">
    <h3 class="subheader lead">Passionate full stack software developer with a wide range of professional experiences and skills.
    </br>Currently available for hire! Feel free to <a href="/hire">contact me</a>.</h3>
  </div>
</div>

<div data-magellan-expedition="fixed">
  <div class="row">
    <dl class="sub-nav">
      <dd data-magellan-arrival="about"><a href="#about"><span class="show-for-small-only">About</span><span class="show-for-medium-up">About me</span></a></dd>
      <dd data-magellan-arrival="skills"><a href="#skills"><span class="show-for-small-only">Skills</span><span class="show-for-medium-up">My skills</span></a></dd>
      <dd data-magellan-arrival="job"><a href="#job"><span class="show-for-small-only">Jobs</span><span class="show-for-medium-up">Previous jobs</span></a></dd>
      <dd data-magellan-arrival="projects"><a href="#projects"><span class="show-for-small-only">Projects</span><span class="show-for-medium-up">Some projects</span></a></dd>
      <dd data-magellan-arrival="words"><a href="#words"><span class="show-for-small-only">Words</span><span class="show-for-medium-up">Generous words</span></a></dd>
      <dd><a href="/hire"><span class="show-for-small-only">Hire</span><span class="show-for-medium-up">Hire me</span></a></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2 data-magellan-destination="about"><a name="about"></a>About me</h2>
    <p>
      I'm currently traveling the world, but worked for several years in Switzerland where I started programming at the age of 14.
      Constantly trying to improve my skill and produce meaningful code and programs in various environments.
    </p>
    <p>
      In 2004 I started my apprenticeship in Software Development and worked as professional Programmer till now.
      Starting up my own startup, consulting other developers and firms or employed by great companies.
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2 data-magellan-destination="skills"><a name="skills"></a>Skillset</h2>
    <p>It's hard to list all the skills and things I do or did. Therefore consider this not as a full list. I selected some of the more important and interesting skills with a personal story<br/>
    I learn and hack on whatever is interesting to me or is necessary to solve a problem.
    </p>
  </div>
  {% for group in page.skills %}
  <div class="large-4 columns">
    <h3>{{ group.name }}</h3>
    <ul class="skills">
      {% for skill in group.list %}
      <li {% if skill.tip %} data-tooltip class="has-tip" title="{{ skill.tip }}<br/>Level: {{ skill.level }}{% unless skill.active %}<br/>State: Inactive{% endunless %}" {% endif %}>
        <span class="left large-8 small-8">{{ skill.name }}</span>
        <div class="progress large-4 small-4 right {% if skill.active %} success {% endif %} radius"> <span class="meter" style="width: {{ skill.level }}%"></span> </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="large-12 columns">

    <h2 data-magellan-destination="job">
      <a name="job"></a>
      Jobs
    </h2>

    <div class="row">
      <div class="large-12 columns">
        <h3><img alt="Simplificator" src="/img/simplificator-logo.gif"/></h3>
        <p>Software Developer 2010 - 2013</p>
        <div class="large-4 columns">
          <p>Simplificator AG is a Swiss software agency and consultancy located in Zürich.<br/>Although it was one of the first full Ruby on Rails company in Switzerland it uses now different technologies to solve client needs in the most optimal way.</p>
          <br/>
          <a href="http://www.simplificator.com" alt="Website of Simplificator AG" target="_blank">To Simplificator's website</a>
        </div>
        <div class="large-8 columns">
          <h5>My job</h5>
          <ul>
            <li>Development mainly with Ruby on Rails, RubyMotion, iOS and JavaScript</li>
            <li>Specification and analysis of projects</li>
            <li>Evaluation of technologies</li>
            <li>Technical consultancy with clients</li>
            <li>Testing and quality control</li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="large-12 columns">
        <h3><img alt="whinybyte" src="/img/whinybyte-logo.png"/></h3>
        <p>CEO and Software Developer 2009 - 2014</p>
        <div class="large-4 columns">
          <p>whinybyte was a small startup located in Basel. We built small customized websites for clients, consulted and worked on Ruby on Rails projects in need and developed our own projects like fahrschule.ch.</p>

        </div>
        <div class="large-8 columns">
          <h5>My job</h5>
          <ul>
            <li>Software Development mainly with Ruby on Rails and JavaScript</li>
            <li>Specification and analysis of projects</li>
            <li>Web design, SEO and front-end development</li>
            <li>Sales and marketing</li>
            <li>Server Management</li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="large-12 columns">
        <h3><img alt="Coop" src="/img/coop-logo.png"/></h3>
        <p>Apprentice and Software Developer 2004 - 2009</p>
        <div class="large-4 columns">
          <p>Coop is the second biggest retailer in Switzerland. I started my appreniceship there at age 17 and worked in different fields. First in first level IT support where I learned communication skills, then from building websites with Java up to low-level programming for internal transaction processing with ABAP.</p>
        </div>
        <div class="large-8 columns">
          <h5>My job</h5>
          <ul>
            <li>Internal first-level IT-Support</li>
            <li>Java web evelopment</li>
            <li>Web design for promotional pages</li>
            <li>ABAP/SAP development</li>
            <li>API and general interface design</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2 data-magellan-destination="projects"><a name="projects"></a>Projects</h2>
    <p>
      In over 14 years of programming I worked on a lot of projects. Here are some selected professional and side projects that in my opinion are the ones that influenced me the most.
    </p>
    <div class="row">
      <div class="large-12 columns">
        <h3>Streetfightz</h3>
        <div class="large-3 columns">
          <img alt="Streetfightz.net City" src="/img/streetfightz.jpg"/>
          <span class="show-for-medium-up">
            <br/>
            <br/>
            <img alt="Streetfightz.net Profile" src="/img/streetfightz2.jpg"/>
          </span>
        </div>
        <div class="large-9 columns">
          <p>Streetfightz was a MMORPG (Massively multiplayer online role-playing game) for the browser that I started as side project with two friends during my studies.
            The story was simple but addictive; You are located in a city and have to look for other players to fight them. After the fight your skills get improved, you earn money and can buy or improve your house.</p>
          <h5>My part</h5>
          <ul>
            <li>Project Management</li>
            <li>Invent story/algorithms</li>
            <li>Maintain community</li>
            <li>Build and extend PHP back-end</li>
            <li>Write front-end JavaScript code</li>
          </ul>
          <h5>What I learned</h5>
          <p>
            This was my first big project and although I had experiences in programming I had none in project management and working with colleges. I learned a lot about communication, what it needs to organize work of individuals.
            Also on the programming side was this project a big challenge for me. I never worked with such a complex system and large code base. I wrote my own MVC without knowing about that pattern in the first place, refactored a lot and tried to automate testing.
            <br/>Although we, or better I, failed in various points I learned a lot about what Software Development really is.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Fahrschule.ch</h3>
        <div class="large-3 columns">
          <img alt="Fahrschule.ch" src="/img/fahrschule.png"/>
        </div>
        <div class="large-9 columns">
          <p>Fahrschule.ch was an online directory for driving schools in Switzerland. Schools were able to create their own profile and present them selfs to students.
          <br/>
          Additionally there was an intelligent administration system with integrated planning for drivers and online booking for students.</p>
          <h5>My part</h5>
          <ul>
            <li>Front-end with jQuery, SCSS, HAML</li>
            <li>Back-end development with RoR</li>
            <li>Specification</li>
            <li>Sales and Marketing</li>
          </ul>
          <h5>What I learned</h5>
          <p>
            Fahrschule.ch was my first big project with the startup I founded with two co-founders.
            It had a lot of up and downs and we learned a lot about the importance of sales and marketing.
            At the end we decided to stop the project which was not an easy decision.
            But looking back it was the right one.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>Brotseiten</h3>
        <div class="large-3 columns">
          <a href="http://brotseiten.com"><img alt="Brotseiten iOS App" src="/img/brotseiten.jpg"/></a>
        </div>
        <div class="large-9 columns">
          <p>Brotseiten is a iOS App developed by Simplificator AG for the Swiss startup Brotseiten.
          The App lets readers subscribe to a weekly published edition of short stories by famous Swiss and German authors.
          </p>
          <h5>My part</h5>
          <ul>
            <li>Project Management</li>
            <li>Team and client coordination</li>
            <li>RubyMotion development</li>
          </ul>
          <h5>What I learned</h5>
          <p>
            With Brotseiten I had the opportunity to work on a RubyMotion iOS App, take the role as a team leader and coordinate with external programmers, graphic designers and clients directly.
            <br/>
            I learned a lot about managing a project and also about iOS development. At the end it turned out well and the App is now available in the Apple Appstore.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h3>local.ch</h3>
        <div class="large-3 columns">
          <a href="http://local.ch"><img alt="Local.ch" src="/img/localch.jpg"/></a>
        </div>
        <div class="large-9 columns">
          <p>local.ch is the swiss phone directory. Recently they switched their entire front-end to Ruby. It is one of the most visited websites in Switzerland.</p>
          <h5>My part</h5>
          <ul>
            <li>Consulting (Ruby, API-Design, Testing)</li>
            <li>Front-end development</li>
            <li>Ruby programming</li>
          </ul>
          <h5>What I learned</h5>
          <p>
            I worked at local.ch as an additional programmer and consultant in front-end as well as in back-end.
            It was very interesting to see how a big company handles iterative development and how they manage a huge website like this with Ruby.
            I was glad to be part of it and be able to help with my expertise in Ruby, Rails and testing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2 data-magellan-destination="words"><a name="words"></a>Generous words</h2>
    <p>
      Over the years I met a lot of great people. With some I had the chance to share my work, get inspired by theirs, have good discussions and experiences.
      <br/>
      Here are some of them and what they say about me:
    </p>

    <blockquote>
      All of this blew me away. Like this "<a href="https://twitter.com/mordaroso">@mordaroso</a>" fellow strolled on up,
      cocked his knee skyward, and jettisoned his leg into the rickety wooden door that
      previously sheltered my mind.
      <cite><a title="How A Pull Request Rocked My World" href="http://clayallsopp.com/posts/the-story-of-pull-request/">Clay Allsopp (RubyMotion Guru)</a></cite>
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel text-center hire">
      <h3>I'm currently available for hire! Feel free to <a href="/hire">contact me</a>.</h3>
    </div>
  </div>
</div>
