/*
  RESET
  =====
  Reset declarations for a clean dom
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}

/*
  OTHER
  =====
*/



html, body{
  height: 100%;
}

body{
  font-family: Arial;
  color: #232323;
  background-color: #eee;
  font-size: 14px;
}

a{
  color: #434343;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
}

ul {
  padding-right:100px;
  list-style: none;
}

li {
  margin-bottom: 2px;
}

#logo{
  height:25%;
  margin: 0 auto;
  width:552px;
  font-size: 80px;
  min-height:80px;
  position: relative;
  z-index: 1;
}

#logo a{
  text-decoration: none;
  color: #232323;
  position: absolute;
  bottom: -35px;
  left: 20px;
  font-weight: bold;
  text-shadow:0 0 10px #555;
}

#container{
  background: url(/images/startpage/box.png) no-repeat;
  height: 271px;
  margin: 0 auto;
  width: 492px;
  padding: 30px;
  z-index: 2;
  position: relative;
}

#portrait{
  position: relative;
  margin: 0 auto;
  right: -302px;
  top: -325px;
  z-index: 0;
  display: block;
  -webkit-transition: right 0.5s 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s 0;
  -moz-transition: right 0.5s 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s 0;
  -o-transition: right 0.5s 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s 0;
  -ms-transition: right 0.5s 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s 0;
}

#me{
  position: absolute;
  top: 120px;
  right: 80px;
}

#arrow{
  position: absolute;
  top: 150px;
  right: 15px;
}

#portrait:hover{
  right: -350px ;
  -webkit-transform: translate(-65px, 0);
  -moz-transform: translate(-65px, 0);
  -o-transform: translate(-65px, 0);
  -ms-transform: translate(-65px, 0);
  -webkit-transition: right 0.5s 0 ease-out, z-index 0s 0.5s ease-out, -webkit-transform 0.5s 0.5s ease-out;
  -moz-transition: right 0.5s 0 ease-out, z-index 0s 0.5s ease-out, -webkit-transform 0.5s 0.5s ease-out;
  -o-transition: right 0.5s 0 ease-out, z-index 0s 0.5s ease-out, -webkit-transform 0.5s 0.5s ease-out;
  -ms-transition: right 0.5s 0 ease-out, z-index 0s 0.5s ease-out, -webkit-transform 0.5s 0.5s ease-out;
  z-index: 4;
}

#hireme{
  position:absolute;
  right:16px;
  top:105px;
  z-index:3;
}

h2{
  background:transparent url(/images/startpage/heading.png) no-repeat scroll 0 0;
  font-size:18px;
  line-height:37px;
  padding-left:20px;
  margin-top: 15px;
  text-shadow: 0 1px 1px #fff;
}

#container h2:first-letter{
  color: #000;
}

#container h2:first-child{
  margin-top:0px;
}

#footer{
  width: 492px;
  padding: 0 30px;
  color: #666;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.icon{
  padding-left: 20px;
  padding-right: 20px;
}

.email{
  background:transparent url(/images/startpage/email-16x16.png) no-repeat scroll 0 0;
}

.flickr{
  background:transparent url(/images/startpage/flickr-16x16.png) no-repeat scroll 0 0;
}

.lastfm{
  background:transparent url(/images/startpage/lastfm-16x16.png) no-repeat scroll 0 0;
}

.twitter{
  background:transparent url(/images/startpage/twitter-16x16.png) no-repeat scroll 0 0;
}

.vimeo{
  background:transparent url(/images/startpage/vimeo-16x16.png) no-repeat scroll 0 0;
}

.zootool{
  background:transparent url(/images/startpage/zootool-16x16.png) no-repeat scroll 0 0;
}
